// #task #improve #reduce #optimize #HIGHspace 

@mixin flexCenter($direction: row){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
.homebar-a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.ProfilePost{
    min-width: 175px; 
    width: 200px;
    
    width: 100%;
    padding: 0px 10px;
    overflow: hidden;
    background-color: var(--post-bg);
    @include flexCenter();
    justify-content: flex-start;
    justify-content: flex-end;

    width: 688px;
    height: 120px;
    margin:16px 0px;
    a{
        text-decoration: none;
        // width: 688px;
        // height: 120px;
        width: 80%;
        height: 100%;
        color: #000;
        @include flexCenter();
        justify-content: flex-start;
        background-color: #f7f7f7;
        border-radius: 8px 8px 0px 0px;
        &:hover{
            // box-shadow: 0 11px 17px 0 rgba(0,0,0,.15);
            // z-index: 100;
            // cursor: pointer;
            color: var(--sec-col1);
            .img{
                img{
                    filter: brightness(1.075);
                }
            }
        }

        .date{
            color: grey;
            font-size: 14px;
        }
        .img{
            height: 75%;
            @include flexCenter();
            object-fit: contain;
            img{
                // v1 view
                // width: 85%;
                // max-height: 75%;
                // height: 65%;
                // object-fit: contain;
    
                // v2 view (list.am)
                width: 160px;
                height: 120px;
                margin-right: 20px;
                border-radius: 6px;
                object-fit: cover;
                @include flexCenter();
            }
        }
        .title{
            height: 20%;
            height: 15%;
            p{
                // width: 100%;
                width: 174px;
                margin: 0;
                padding: 6px 0px 6px 6px;
                @include flexCenter();
                justify-content: flex-start;
            }
        }
        .price{
            height: 15%;
            height: 10%;
            p{
                width: 100%;
                margin: 0;
                padding: 6px 0px 6px 8px;
                color: #222;
                @include flexCenter();
                justify-content: flex-start;
                font: {
                    size: 16px;
                    weight: 700;
                }
            }
        }
        .date{
            height: 15%;
            height: 10%;
            p{
                // #task #improve css #dirty #optimize
                width: 100%;
                margin: 0;
                padding: 6px 0px 6px 8px;
                @include flexCenter();
                justify-content: flex-start;
                font: {
                    size: 12px;
                    weight: 700;
                    color: grey;
                }
            }
        }
    }
    .delete_and_update{
        width: 20%;
        height: 100%;
        @include flexCenter(column);
        justify-content: space-evenly;
        background-color: #f7f7f7;
        a{
            div{
                @include flexCenter();
                border-radius: 500px;
            }
        }
    }
}
   
@media (max-width: 481px){
    .ProfilePost{
        min-width: 15px; 
        width: 180px;

        width: 50%;
        padding: 0px 0px;
    }
}
    



