.Post{
    width: 20%;
    min-width: 275px;
    /* width: 18vw; */
    height: 100%;
    height: 300px;
    border: 1px;
    border-radius: 2px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* margin: 0.5% 0.5%; */
    /* margin: 2px 2px; */
    background-color: var(--post-bg);
}
.Post a{
    text-decoration: none;
    color: #000;
}
    .Post:hover{
        /* box-shadow: 0 8px 17px 0 rgba(0,0,0,.15); */
        box-shadow: 0 11px 17px 0 rgba(0,0,0,.15);
        z-index: 100;
        transition: .400s;
        cursor: pointer;
    }
    .Post img:hover{
        opacity: 1;
        width: 100%;
        /* animation: img_hover 1s forwards 1; */
    }
        /* @keyframes img_hover{
            0%{width: auto;}
            100%{width: 100%;}
        } */
    .img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65%;
        object-fit: contain;
    }
        .img > img{
            max-width: 75%;
            width: auto;
            height: 75%;
            opacity: 0.95;
            display: flex;
            object-fit: contain;
            justify-content: center;
            align-items: center;
            /* overflow: hidden; */
        }
    .title{
        height: 20%;
        /* background-color: #ebece2; */
    }
    .price{
        height: 15%;
        /* background-color: #ebecec; */
    }
    .price > p{
        width: 100%;
        /* height: 10%; */
        font-size: 20px;
        /* margin: 6px 4px; */
        margin: 0;
        padding: 6px 0px 6px 8px;
        font-weight: 700;
        display: flex;
        justify-content: center;
    }
    .title > p{
        width: 100%;
        /* height: 30%; */
        margin: 0;
        padding: 0;
        padding: 6px 0px 6px 6px;
        display: flex;
        justify-content: center;
    }