.Post{
    width: 20%;
    height: 100%;
    height: 300px;
    margin: 1% 0%;
    border: 1px;
    border-radius: 2px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 1% 0.5%;
    background-color: var(--post-bg);
}
    .Post:hover{
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.15);
    }
    .Post img:hover{
        opacity: 1;
        width: 100%;
        /* animation: img_hover 1s forwards 1; */
    }
        /* @keyframes img_hover{
            0%{width: auto;}
            100%{width: 100%;}
        } */
    .img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65%;
    }
        .img > img{
            width: auto;
            height: 75%;
            opacity: 0.95;
            display: flex;
            object-fit: contain;
            justify-content: center;
            align-items: center;
            /* overflow: hidden; */
        }
    .title{
        height: 20%;
        /* background-color: #ebece2; */

    }
    .price{
        height: 15%;
        /* background-color: #ebecec; */
    }
    .price > p{
        width: 100%;
        /* height: 10%; */
        font-size: 20px;
        /* margin: 6px 4px; */
        margin: 0;
        padding: 6px 0px 6px 8px;
        font-weight: 700;
    }
    .title > p{
        width: 100%;
        /* height: 30%; */
        margin: 0;
        padding: 0;
        padding: 6px 0px 6px 6px;
    }