*{
    /* border: 1px solid #000; */
    box-sizing: border-box;
}
.Home{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../../images/homepage-bg.jpg); */
    background-origin: left;
    background-size: cover;
    background-position: 0% 75%;
    background-repeat: no-repeat;
    justify-content: flex-start;
    flex-direction: column;
}
    .homebar{
        width: 100%;
        height: 85px;
        /* height: 16vh; */
        display: flex;
        justify-content: space-between;
        z-index: 2;
        background-color: var(--home-bar-bg);
    }
        .homebar-lf-side, .homebar-rg-side{
            width: 50%;
            height: 100%;
            display: flex;
        }
        .homebar-lf-side{
            justify-content: space-between;
        }
            .sidenav{
                width: 10%;
                height: 100%;
            }
                .sidenav > a{
                    width: 100%;
                    height: 100%;
                    font-size: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            .logo{
                width: 80%;
                height: 100%;
                color: #ebecec;
                color: #8a0303;
                color: #fff;
                margin: 0;
                display: flex;
                justify-content: center;
                justify-content: flex-start;
                align-items: center;
            }
                .logo > p{
                    margin: 0;
                    font-size: 30px;
                }
        .homebar-rg-side{
            /* smth */
            justify-content: flex-end;
            /* align-items: center; */
        }
            .addAnnouncement{
                width: 40%;
                /* background-color: darkgrey; */
                align-items: center;
            }
                .addAnnouncement > button{
                    width: 100%;
                    height: 50%;
                    outline: 0;
                    background-color: black;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 15px;
                    margin-top: 2%;
                    border: 0;
                    cursor: pointer;
                    text-transform: uppercase;
                }
            .registration{
                width: 20%;
                height: 50%;
                color: white;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;   
            }
                .sign-in a, .sign-up a{
                    width: 100%;
                    cursor: pointer;
                }
    .auth{
        width: 100%;
        height: auto;
    }    








    






    
