.Register{
    width: 100%;
    max-height: 600px;
    /* height: 46.5vh; */
    height: 0vh;
    background-color: var(--home-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 2;
    /* position: absolute; */
    /* top: 0; */
    /* overflow-y: auto;  */
}
    .register-intro, .register-data{
        box-sizing: border-box;
    }
    .register-intro{
        position: absolute;
    }
    .register-data{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .register-form-firstname-lastname, .register-form-email-confirmemail, .register-form-pass-confirmpass, .register-hr, .register-links, .register-errors{
            width: 45%;
            height: 16%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
            .register-errors{
                /* background-color: #fff; */
                display: flex;
                flex-direction: column;
                /* width: 45; */
                width: 42.5%;
                height: 15%;
                text-transform: none;
                overflow-y: auto;
            }
            .register-data input{
                width: 46%;
                height: 75%;
                font-size: 18px;
                box-sizing: border-box;
                border: 0;
                outline: none;
                padding: 0px 15px;
                background-color: var(--input-bg);
            }
            .register-form-submit{
                width: 5%;
                height: 12%;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 69.15%;
                top: 60%;
                top: 57%;
            }
                .register-form-submit input[type=submit]{
                    width: 100%;
                    height: 100%;
                    background:var(--sec-col1) url(../../../images/login-submit.png) no-repeat center ;
                    background-size: 40%;
                    cursor: pointer;
                }
                .register-submit-triangle-dot{
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-right: 15px solid var(--sec-col1);
                    position: absolute;
                    top: 35%;
                    left: -10%;
                }
        .register-hr{
            width: 43%;
            height: 5%;
        }
            .register-hr > hr{
                width: 99%;
                border: 0; border-top: 1px solid #494949;
            }
    .register-links{
        /* background-color: #fff; */
        display: flex;
        justify-content: flex-start;
    }
        .register-links a{
            text-decoration: none;
        }
        .login-form-terms{
            width: 100%;
            height: 10%;
            position: absolute;
            top: 67%;
            top: 73%;
            left: 30.65%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }  
            .login-form-terms input[type=checkbox]{
                width: 1%;
            }
            .login-form-terms p{
                margin-left: 5px;
                width: 25%;
                height: 100%; 
                display: flex;
                align-items: center;
                flex-direction: row;
                font-size: 14px;
                color: var(--sec-col2);
            }
                .login-form-terms p > a{
                    cursor: pointer;
                    color: var(--sec-col1);
                }
        .opensignin{
            margin-left: 2.5%;
            font-size: 14px;
            position: absolute;
            top: 77%;
            top: 83%;
            left: 28.35%;
            color: var(--sec-col2);
        }
            .opensignin > a{
                color: #fff;
                color: var(--sec-col1);
            }
    .register-exit{
        width: 35px;
        position: absolute;
        top: 55px;
        right: 55px;
        z-index: 100;
        cursor: pointer;
    }
        .register-exit > img{
            width: 100%;
        }
    @keyframes register-in{
        0%{height: 0;}
        100%{height: 46.5vh;}
    }
    @keyframes register-out{
        0%{height: 46.5vh;}
        100%{height: 0;}
    }