@mixin flexCenter($direction: row){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.user-container{
    width: 100%;
    @include flexCenter(column);
    justify-content: flex-start;
    .user{
        width: 75%;
        min-height: calc(100vh - 13.75vh);

        min-height: 125vh;

        height: 100%;
        display: flex;
        div{
            // border: 1px solid grey;
            box-sizing: border-box;
        }
        
        .user-side-menu{
            width: 35%;
            min-height: calc(100vh - 13.75vh);
            height: 100%;
            position: sticky;
            top: 0;
            background-color: #eff2f9;
            @include flexCenter(column);
            justify-content: flex-start;
            padding-top: 5%;
            // margin-top: 2.5%;
            // border-radius: 20px;

            .user-menu{
                width: 75%;
                height: 100%;
                background-color: #fff;
                border-radius: 10px;
            }
            .user-menu{
                @include flexCenter(column);
                justify-content: flex-start;
                height: 100%;
                // height: 60vh;

                .user-avatar, .user-fullname, .user-contact, .user-info{
                    width: 100%;
                    overflow: hidden;
                }
                .user-avatar{
                    // height: 25vh;
                    height: 35%;
                    @include flexCenter();
                    img{
                        width: 75%;
                        max-width: 130px;
                        border-radius: 500px;
                        padding-top: 5%;
                    }
                }
                .user-info{
                    height: 10%;
                    div{
                        @include flexCenter(column);
                        justify-content: space-between;
                        .MuiListItemIcon-root{
                            @include flexCenter();
                            width: 40%;
                        }
                        .MuiTypography-root{
                            font-size: 14px;
                        }
                    }
                }
                .user-fullname{
                    height: 10vh;
                    height: 20%;
                    padding: 5% 0%;
                    text-decoration: underline;
                    @include flexCenter();
                    font-size: 25px;
                    object-fit: contain;
                    div{
                        padding: 0% 1%;
                    }
                }
                .user-contact{
                    height: 20vh;
                    height: 35%;
                    @include flexCenter(column);
                    font-size: 25px;
                    object-fit: contain;
                    div{
                        padding: 10px 0px;
                    }
                    .contact-phone, .contact-email{
                        width: 75%;
                        div{
                            @include flexCenter();
                            .MuiListItemIcon-root{
                                @include flexCenter();
                                justify-content: flex-end;
                                // mui icon
                            }
                            .MuiListItemText-root{
                                // mui text
                            }
                        }
                    }
                    ul{
                        width: 70%;
                        div{
                            @include flexCenter();
                            .MuiListItemIcon-root{
                                @include flexCenter();
                                justify-content: flex-end;
                                // mui icon
                            }
                            .MuiListItemText-root{
                                // mui text
                            }
                        }
                    }
                }
            }
        }
        .user-content-menu{
            width: 65%;
            height: 100%;
            @include flexCenter();
        }
    }
}
        
  
@media (max-width: 1350px){
    .user-container{
        .user{
            width: 90%;
            .user-side-menu{
                .user-menu{
                    width: 90%;
                }
                .user-menu{
                    .user-avatar{
                        img{
                            width: 50%;
                            max-width: 120px;
                        }
                    }
                }
            }
        }
    }
}
                
                   



            